$color-primary-dark: #293d5a;
$color-primary-light: #345ea8;
$color-primary: #436ED0;
$color-blue: #3a8ac3;
$color-green: #57a007;
$color-orange: #d56819;
$color-red: #e4011c;
$color-white: #fff;
$color-gray: #6e7c9d;
$color-light-gray: #f4f8fc;


$text-normal: 0.875rem; //14px

